@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=_icon-]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-facebook:before {
  content: "\ea90";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-twitter:before {
  content: "\ea96";
}

._icon-linkedin:before {
  content: "\eaca";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(56.95%, #050525), color-stop(63.23%, #090827));
  background: linear-gradient(90deg, #050525 56.95%, #090827 63.23%);
  font-family: "Roboto";
}
body.menu-open {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
}
.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 89.375rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 55;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 89.375em) {
  .header {
    padding-top: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-top: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem );
    }
  }
  @supports not (padding-top: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
    .header {
      padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }
}
@media (min-width: 89.375em) {
  .header {
    padding-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-bottom: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem );
    }
  }
  @supports not (padding-bottom: clamp( 0.625rem , 0.3547297297rem  +  1.3513513514vw , 1.5625rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-bottom: 0.625rem;
  }
}
.header.scrolled {
  background-color: rgba(31, 34, 52, 0.703);
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 89.375em) {
  .header__container {
    gap: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (gap: clamp( 0.9375rem , -0.053490991rem  +  4.954954955vw , 4.375rem )) {
    .header__container {
      gap: clamp( 0.9375rem , -0.053490991rem  +  4.954954955vw , 4.375rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , -0.053490991rem  +  4.954954955vw , 4.375rem )) {
    .header__container {
      gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__container {
    gap: 0.9375rem;
  }
}
.header__logo {
  z-index: 20;
}
@media (min-width: 89.375em) {
  .header__logo {
    width: 8.875rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (width: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8.875rem )) {
    .header__logo {
      width: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8.875rem );
    }
  }
  @supports not (width: clamp( 6.25rem , 5.4932432432rem  +  3.7837837838vw , 8.875rem )) {
    .header__logo {
      width: calc(6.25rem + 2.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 6.25rem;
  }
}
.header__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  padding: 0.625rem 1.5625rem;
}
@media (max-width: 43.75em) {
  .header__button {
    padding: 0.3125rem 0.5rem;
    font-size: 0.875rem;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 50em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow-y: auto;
    padding: 7.5rem 0.9375rem 0.9375rem 0.9375rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(56.95%, #050525), color-stop(63.23%, #090827));
    background: linear-gradient(90deg, #050525 56.95%, #090827 63.23%);
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    z-index: 5;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 6;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background: #20203a;
  }
}
@media (max-width: 50em) and (min-width: 47.99875em) {
  .menu__body::before {
    height: 4.75rem;
  }
}
@media (max-width: 50em) and (min-width: 20em) and (max-width: 47.99875em) {
  @supports (height: clamp( 3.4375rem , 2.4999581455rem  +  4.6877092727vw , 4.75rem )) {
    .menu__body::before {
      height: clamp( 3.4375rem , 2.4999581455rem  +  4.6877092727vw , 4.75rem );
    }
  }
  @supports not (height: clamp( 3.4375rem , 2.4999581455rem  +  4.6877092727vw , 4.75rem )) {
    .menu__body::before {
      height: calc(3.4375rem + 1.3125 * (100vw - 20rem) / 27.99875);
    }
  }
}
@media (max-width: 50em) and (max-width: 20em) {
  .menu__body::before {
    height: 3.4375rem;
  }
}
@media (max-width: 50em) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}
@media (min-width: 89.375em) {
  .menu__list {
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports ((-moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
         -moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
              column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem );
    }
  }
  @supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem )) or (column-gap: clamp( 0.9375rem , 0.3429054054rem  +  2.972972973vw , 3rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
         -moz-column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
              column-gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
.menu__list:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (max-width: 50em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: right;
    row-gap: 1.75rem;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #0bafc8;
  }
  .menu__item:hover .menu__link::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}
.menu__link {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3125rem;
  width: 100%;
  height: 0.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#0bafc8), to(transparent));
  background: linear-gradient(90deg, transparent, #0bafc8, transparent);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
@media (max-width: 50em) {
  .menu__link {
    font-size: 1.75rem;
  }
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  z-index: 20;
  display: none;
}
@media (max-width: 50em) {
  .icon-menu {
    position: relative;
    width: 1.875rem;
    height: 1.5rem;
    background: none;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .icon-menu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #0bafc8;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
}

.icon-menu span:nth-of-type(1) {
  top: 0;
}

.icon-menu span:nth-of-type(2) {
  top: 10px;
}

.icon-menu span:nth-of-type(3) {
  bottom: 0;
}

@media (max-width: 50em) {
  #menu02.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
        -ms-transform: translateY(10px) rotate(-315deg);
            transform: translateY(10px) rotate(-315deg);
  }
  #menu02.active span:nth-of-type(2) {
    opacity: 0;
  }
  #menu02.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
        -ms-transform: translateY(-10px) rotate(315deg);
            transform: translateY(-10px) rotate(315deg);
  }
}
.button {
  background-color: #d7e633;
  border-radius: 0.5rem;
  color: #000;
  font-weight: 500;
  padding: 0.625rem 1.5625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 0 10px rgba(215, 230, 51, 0.5);
          box-shadow: 0 0 10px rgba(215, 230, 51, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0 0 10px rgba(215, 230, 51, 0.8), 0 0 30px rgba(215, 230, 51, 0.6), 0 0 50px rgba(215, 230, 51, 0.4);
            box-shadow: 0 0 10px rgba(215, 230, 51, 0.8), 0 0 30px rgba(215, 230, 51, 0.6), 0 0 50px rgba(215, 230, 51, 0.4);
  }
}

.hero__title,
.hero__text {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
  will-change: opacity, transform;
}
.hero__title.visible,
.hero__text.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hero__title {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.hero__text {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.hero {
  position: relative;
  height: 90svh;
  min-height: 600px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 47.99875em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
  z-index: -1;
}
@media (max-width: 65.9375em) {
  .hero__background {
    -o-object-position: 50% 0;
       object-position: 50% 0;
  }
}
@media (max-width: 56.25em) {
  .hero__background {
    -o-object-position: 60% 0;
       object-position: 60% 0;
  }
}
@media (max-width: 47.99875em) {
  .hero__background {
    -o-object-position: 88% 0;
       object-position: 88% 0;
  }
}
@media (max-width: 39.375em) {
  .hero__background {
    -o-object-position: 83% 0;
       object-position: 83% 0;
  }
}
@media (max-width: 33.125em) {
  .hero__background {
    -o-object-position: 82% 0;
       object-position: 82% 0;
  }
}
@media (max-width: 30em) {
  .hero__background {
    -o-object-position: 79% 0;
       object-position: 79% 0;
  }
}
@media (max-width: 26.875em) {
  .hero__background {
    -o-object-position: 79% 0;
       object-position: 79% 0;
  }
}
@media (max-width: 25.875em) {
  .hero__background {
    -o-object-position: 79% 0;
       object-position: 79% 0;
  }
}
@media (max-width: 24.375em) {
  .hero__background {
    -o-object-position: 80% 0;
       object-position: 80% 0;
  }
}
@media (max-width: 22.5em) {
  .hero__background {
    -o-object-position: 79% 0;
       object-position: 79% 0;
  }
}
@media (max-width: 20em) {
  .hero__background {
    -o-object-position: 79% 0;
       object-position: 79% 0;
  }
}
.hero__content {
  padding-top: 15.625rem;
  padding-bottom: 2.5rem;
  z-index: 5;
  max-width: 29.6875rem;
}
@media (min-width: 89.375em) {
  .hero__content {
    padding-left: 3.5rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (padding-left: clamp( 0.0000000625rem , -1.0090089285rem  +  5.045044955vw , 3.5rem )) {
    .hero__content {
      padding-left: clamp( 0.0000000625rem , -1.0090089285rem  +  5.045044955vw , 3.5rem );
    }
  }
  @supports not (padding-left: clamp( 0.0000000625rem , -1.0090089285rem  +  5.045044955vw , 3.5rem )) {
    .hero__content {
      padding-left: calc(0.0000000625rem + 3.4999999375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__content {
    padding-left: 0.0000000625rem;
  }
}
@media (max-width: 47.99875em) {
  .hero__content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.hero__title {
  font-weight: 500;
  line-height: 1;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 2px 2px 6px rgba(0, 0, 0, 0.8), 3px 3px 10px rgba(0, 0, 0, 0.6);
}
@media (min-width: 89.375em) {
  .hero__title {
    font-size: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 2.625rem , 2.3907657658rem  +  1.1711711712vw , 3.4375rem )) {
    .hero__title {
      font-size: clamp( 2.625rem , 2.3907657658rem  +  1.1711711712vw , 3.4375rem );
    }
  }
  @supports not (font-size: clamp( 2.625rem , 2.3907657658rem  +  1.1711711712vw , 3.4375rem )) {
    .hero__title {
      font-size: calc(2.625rem + 0.8125 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.625rem;
  }
}
.hero__title span {
  background: -webkit-gradient(linear, right top, left top, from(#bef4f9), color-stop(6%, #9bdbf0), color-stop(76.5%, #68b6e4), color-stop(97.5%, #327bb5));
  background: linear-gradient(270deg, #bef4f9 0%, #9bdbf0 6%, #68b6e4 76.5%, #327bb5 97.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
@media (min-width: 89.375em) {
  .hero__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 0.9375rem , 0.6672297297rem  +  1.3513513514vw , 1.875rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.6672297297rem  +  1.3513513514vw , 1.875rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.9375rem , 0.6672297297rem  +  1.3513513514vw , 1.875rem )) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.hero__text {
  max-width: 25rem;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Inter";
  line-height: 22px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 2px 2px 6px rgba(0, 0, 0, 0.8), 3px 3px 10px rgba(0, 0, 0, 0.6);
}
@media (min-width: 89.375em) {
  .hero__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , 0.8896396396rem  +  1.8018018018vw , 2.5rem )) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
}
@media (max-width: 30em) {
  .hero__button {
    width: 100%;
  }
}

.about {
  padding-top: 8.9375rem;
  padding-bottom: 5.625rem;
  background-image: url(../img/about-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 47.99875em) {
  .about {
    padding-top: 5rem;
  }
}
.about__container {
  max-width: 81.25rem;
}
.about__counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
@media (max-width: 50em) {
  .about__counter {
    grid-template-columns: 1fr;
  }
}
.about__counter:not(:last-child) {
  margin-bottom: 1.875rem;
}
.about__text {
  text-align: center;
  font-style: italic;
  color: rgba(255, 255, 255, 0.85);
  text-align: center;
  font-style: italic;
  font-weight: 500;
  line-height: 31px;
}
@media (min-width: 89.375em) {
  .about__text {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .about__text {
      font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .about__text {
      font-size: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .about__text {
    font-size: 1.5625rem;
  }
}
.about__text:not(:last-child) {
  margin-bottom: 1.875rem;
}
.about__button {
  font-size: 24px;
  display: grid;
  justify-self: center;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 30em) {
  .about__button {
    width: 100%;
  }
}

.item-counter {
  position: relative;
  padding: 2.3125rem 0.625rem;
  background-color: #090827;
  border-radius: 1.25rem;
  text-align: center;
  z-index: 0;
}
.item-counter::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  padding: 0.25rem;
  border-radius: 1.25rem;
  pointer-events: none;
}
@supports (-webkit-mask-image: linear-gradient(white, white)) {
  .item-counter::before {
    padding: 0.25rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 225, 0)), to(rgb(253, 100, 100)));
    background: linear-gradient(to bottom, rgb(255, 225, 0), rgb(253, 100, 100));
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    -webkit-mask-image: linear-gradient(to bottom, #fff 0%, #fff 100%), linear-gradient(to bottom, #fff 0%, #fff 100%);
    -webkit-mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}
@supports not (-webkit-mask-image: linear-gradient(white, white)) {
  .item-counter::before {
    border: 4px solid rgb(255, 225, 0);
  }
}
.item-counter__number {
  background: linear-gradient(86deg, #bef4f9 3.13%, #9bdbf0 10.01%, #9bdbf0 104.02%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 89.375em) {
  .item-counter__number {
    font-size: 8rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 4.375rem , 3.329954955rem  +  5.2252252252vw , 8rem )) {
    .item-counter__number {
      font-size: clamp( 4.375rem , 3.329954955rem  +  5.2252252252vw , 8rem );
    }
  }
  @supports not (font-size: clamp( 4.375rem , 3.329954955rem  +  5.2252252252vw , 8rem )) {
    .item-counter__number {
      font-size: calc(4.375rem + 3.625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-counter__number {
    font-size: 4.375rem;
  }
}
.item-counter__number:not(:last-child) {
  margin-bottom: 1.25rem;
}
.item-counter__title {
  color: #fff;
  font-weight: 700;
  line-height: 43px;
}
@media (min-width: 89.375em) {
  .item-counter__title {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .item-counter__title {
      font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .item-counter__title {
      font-size: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-counter__title {
    font-size: 1.5625rem;
  }
}
.item-counter__title:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-counter span {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.item-counter:nth-child(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 225, 0)), to(rgb(253, 100, 100)));
  background: linear-gradient(to bottom, rgb(255, 225, 0), rgb(253, 100, 100));
}
.item-counter:nth-child(2) .item-counter__number {
  background: var(--boxxx, linear-gradient(180deg, #171632 25.48%, #0e0d24 62.74%, #09081c 81.37%, #050415 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item-counter:nth-child(2) .item-counter__title {
  color: #0a0a0a;
}
.item-counter:nth-child(2) span {
  color: rgba(0, 0, 0, 0.8);
}

.features {
  padding-top: 3.125rem;
  padding-bottom: 5.625rem;
  background-image: url(../img/features-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.features__container {
  max-width: 89.375rem;
}
.features__title {
  max-width: 31.5625rem;
  text-align: left;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}
@media (min-width: 89.375em) {
  .features__title {
    font-size: 3.4375rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.875rem , 1.4245495495rem  +  2.2522522523vw , 3.4375rem )) {
    .features__title {
      font-size: clamp( 1.875rem , 1.4245495495rem  +  2.2522522523vw , 3.4375rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.4245495495rem  +  2.2522522523vw , 3.4375rem )) {
    .features__title {
      font-size: calc(1.875rem + 1.5625 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .features__title {
    font-size: 1.875rem;
  }
}
.features__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
.features__wrapper {
  overflow: hidden;
  border-radius: 20px;
  border: 6px solid #bef4f9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 50em) {
  .features__wrapper {
    grid-template-columns: 1fr;
  }
}
.text--blue {
  background: -webkit-gradient(linear, right top, left top, from(#bef4f9), color-stop(6%, #9bdbf0), color-stop(76.5%, #68b6e4), color-stop(97.5%, #327bb5));
  background: linear-gradient(270deg, #bef4f9 0%, #9bdbf0 6%, #68b6e4 76.5%, #327bb5 97.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text--yellow {
  color: #d9eb27;
}

.item-feature {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25.48%, #171632), color-stop(62.74%, #0e0d24), color-stop(81.37%, #09081c), to(#050415));
  background: linear-gradient(180deg, #171632 25.48%, #0e0d24 62.74%, #09081c 81.37%, #050415 100%);
  display: grid;
  gap: 0.9375rem;
  place-items: center;
  padding: 1.25rem;
}
.item-feature img {
  max-width: 11.25rem;
  max-height: 11.25rem;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 30em) {
  .item-feature img {
    max-width: 6.25rem;
    max-height: 6.25rem;
  }
}
.item-feature__title {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
@media (min-width: 89.375em) {
  .item-feature__title {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 89.375em) {
  @supports (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .item-feature__title {
      font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.4363738739rem  +  0.6306306306vw , 2rem )) {
    .item-feature__title {
      font-size: calc(1.5625rem + 0.4375 * (100vw - 20rem) / 69.375);
    }
  }
}
@media (max-width: 20em) {
  .item-feature__title {
    font-size: 1.5625rem;
  }
}
.item-feature__text {
  color: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  text-align: center;
}

.item-feature:nth-child(2) {
  background: linear-gradient(235deg, #bef4f9 2.15%, #9bdbf0 8.24%, #68b6e4 79.85%, #327bb5 101.17%);
}
.item-feature:nth-child(2) .item-feature__title {
  color: #000;
}
.item-feature:nth-child(2) .item-feature__text {
  color: #000;
}

.footer {
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 35em) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5625rem;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.125rem;
}
@media (max-width: 35em) {
  .footer__list {
    gap: 1.5625rem;
  }
}
@media (any-hover: hover) {
  .footer__item:hover .footer__link {
    color: #327bb5;
  }
}
.footer__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #f4f0ff;
  line-height: 20px;
}
.footer__bottom {
  text-align: center;
}
.privacy {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.privacy__link {
  color: rgba(239, 237, 253, 0.6);
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .privacy__link:hover {
    color: #ffffff;
  }
}

.counter__item,
.features__title {
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  transition: opacity 1s ease, transform 1s ease, -webkit-transform 1s ease;
}
.counter__item.visible,
.features__title.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.counter__item:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.counter__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.counter__item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.features__item {
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}
.features__item.visible {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.features__item:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.features__item:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.features__item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}